
<h1>Welcome <%= current_user.username.capitalize %></h1>

<%= link_to 'Update Blog Details', update_blog_path,{ :class=>"btn btn-primary btn-lg" }  %>
<br><br>
<%= render template: 'posts/index' %>

<a href="https://www.facebook.com/sharer/sharer.php?u=<%= current_user.blogs.first.url %>" target="_blank">
  Share your awesome blog on Facebook
</a>
<br>
<a href="https://www.google.com/webmasters/tools/submit-url" target="_blank">
  Request google to read your blog
</a>